<div class="card">
  <div class="card-body">
    <h5 class="card-title">Multi Columns Form</h5>

    <!-- Multi Columns Form -->
    <div class="row g-3">
      <div class="col-md-12">
        <label for="name" class="form-label">Jour</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="date.day"
          id="county"
        />
      </div>
      <div class="col-md-12">
        <label for="name" class="form-label">Mois</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="date.month"
          id="name"
        />
      </div>
      <div class="col-md-12">
        <label for="year" class="form-label">Année</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="date.year"
          id="year"
          name="year"
        />
      </div>
      <ng-template [ngIf]="dateId" [ngIfElse]="notLocalite">
        <div class="text-center">
          <button type="reset" class="btn btn-secondary" (click)="submitData()">
            Reset
          </button>
        </div>
      </ng-template>
      <ng-template #notLocalite>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" (click)="submitData()">
            Submit
          </button>
        </div>
      </ng-template>
    </div>
    <!-- End Multi Columns Form -->
  </div>
</div>
