<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/carelec/admin/Caracteristique">
          <i class="bi bi-card-list"></i>
          <span>Caracteristique</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/carelec/admin/Consommation">
          <i class="bi bi-battery-half"></i>
          <span>Consommation</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/carelec/admin/Localite">
          <i class="bi bi-geo-fill"></i>
          
          <span> Localite</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/carelec/admin/Marque">
          <i class="bi bi-truck-flatbed"></i>
          <span>Marque</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/carelec/admin/DateDim/">
          <i class="bi bi-calendar-plus"></i>
          <span>Date</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->
