<div class="pagetitle">
  <h1>Date Dim Tables</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
      <li class="breadcrumb-item">Tables</li>
    </ol>
  </nav>
</div>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between mt-3">
      <h5>Table des dates</h5>
      <div class="d-flex justify-content-end">
        <button type="button" [routerLink]="['date']" class="btn btn-primary">
          Ajouter
        </button>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Jour</th>
          <th scope="col">Mois</th>
          <th scope="col">Année</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of dates">
          <td>{{ l.day }}</td>
          <td>{{ l.month }}</td>
          <td>{{ l.year }}</td>
          <td>
            <a
              [routerLink]="['date/' + l.id]"
              routerLinkActive="router-link-active"
              ><button type="button" class="btn btn-info">
                <i class="bi bi-pencil-square"></i></button
            ></a>
            &nbsp;
            <a routerLinkActive="router-link-active" (click)="deleteDate(l.id)"
              ><button type="button" class="btn btn-danger">
                <i class="bi bi-trash"></i></button
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
